.header {
    display: flex;
    justify-content: space-around;
}

ul {
    color: #CD313E;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

button {
    width: 189.131px;
    height: 36px;
    flex-shrink: 0;
    background-color: #CD313E;
    color: #fff;
}

.content {
    padding-top: 240px;
    padding-bottom: 440px;
    margin-bottom: 100px;
    background: url('assets/background.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-origin: border-box;
}

.content div {
    background-color: #cecece;
    width: 540px;
}

.content div span {
    color: #D44D51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.footer {
    background-color: #F78282;
    padding-top: 68px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}