/* Reset */
:root {
  --primary: #eb423f;
  --secondary: #091133;
  --body-background: #ffffff;
}
html {
  font-size: 6.25%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16rem; /*16 px (padrão do navegador)*/
}

body {
  color: var(--primary);
  background: var(--body-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* Utils */
.container {
  max-width: 1130rem;
  margin-inline: auto;
  padding-inline: 10rem;
}

.container-fluid {
  width: calc(100vw - ((100vw - 1353rem) / 2));
  margin-left: auto;
  padding-inline: 10rem;
}

.button {
  background: var(--primary);
  border: 2rem solid transparent;

  color: #fff;
  font-weight: 500;
  text-align: center;

  padding: 8rem 24rem;
  border-radius: 4rem;
}

.button--secondary {
  background: transparent;
  border: 2rem solid var(--secondary);
  color: var(--secondary);
}

.button--small {
  font-size: 12rem;
  padding: 4rem 12rem;
}

/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 10;
}

.header .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header nav ul {
  display: flex;
  gap: 60rem;
}

.header .container button.buynow {
  min-width: 160rem;
  width: fit-content;
  justify-self: end;
}

.header button[data-menu="open"] {
  display: none;
  width: fit-content;
  border: none;
  background: none;
}

.header .logo {
  display: flex;
  justify-content: center;
}


/* Content */
.content {
  position: relative;

  height: 100vh;

  display: flex;
  align-items: center;
}

.content .background {
  position: absolute;
  inset: 0;
  z-index: -100;

  display: flex;
  justify-content: end;
}

.content .background img {
  object-fit: cover;
  object-position: right;
}

.content .background img.mobile {
  display: none;
}

.content .introduction {
  max-width: 550rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.content .introduction h1 {
  color: var(--secondary);
  font-size: clamp(24rem, 8vw, 50rem);
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: 1px;
}

.content .introduction p {
  font-size: 18rem;
  line-height: 1.6;
}

.content .introduction p + p {
  margin-top: 32rem;
}

.content .introduction .action {
  display: flex;
  flex-wrap: wrap;
  gap: 16rem 32rem;
}

.content .introduction .button {
  width: 100%;
  max-width: 190rem;
}

/* Footer */
.footer {
  color: white;
  background-color: #f78282;
  padding-block: 64rem 32rem;
  margin-top: 100rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15rem 30rem;
}

.footer hr {
  width: 100%;
  border: none;
  border-top: 1rem solid white;
  margin-block: 48rem 20rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15rem 30rem;
}

.footer-bottom ul {
  display: flex;
  align-items: center;
}

.footer-nav {
  gap: 60rem;
}

.social-icons {
  gap: 30rem;
}

.social-icons li {
  width: 16rem;
  height: 16rem;
}

/* Resonsivos */
@media (max-width: 1080px) {
  .content .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content .background img.desktop {
    display: none;
  }

  .content .background img.mobile {
    display: block;
  }

  .content .action {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header .container {
    grid-template-columns: 1fr 1fr;
  }

  .header nav,
  .header button:not([data-menu="open"]) {
    display: none;
  }

  .header .logo {
    justify-content: initial;
}

  .header button[data-menu="open"] {
    display: block;
    justify-self: end;
  }

  .footer-top,
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }

  .footer-nav {
    gap: 30rem;
  }
}

@media (max-width: 480px) {
  .content .introduction p {
    font-size: 16rem;
    line-height: 1.4;
  }

  .content .introduction p + p {
    margin-top: 16rem;
  }

  .content .introduction .button {
    max-width: none;
  }
}

/* .header {
    display: flex;
    justify-content: space-around;
}

ul {
    color: #CD313E;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

button {
    width: 189.131px;
    height: 36px;
    flex-shrink: 0;
    background-color: #CD313E;
    color: #fff;
} */

/* .content {
    padding-top: 240px;
    padding-bottom: 440px;
    margin-bottom: 100px;
    background: url('assets/background.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-origin: border-box;
}

.content div {
    background-color: #cecece;
    width: 540px;
}

.content div span {
    color: #D44D51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
} */
